<div id="menu">
  <div class= "container1">
    <img class="imgapp" src="../../../../assets/image/LogoBurgerQueen.png" width= "600px" height="200px" />
  </div>
  <div class= "container1">
      <div class="btnMenu">
        <button class="btn btn-mesero">
          <a routerLink="/public/mesero" routerLinkActive="active">
            <img class="mesero" src="../../../../assets/image/mesero.png" width= "150px" height="150px" />
            Mesero
          </a>
        </button>

        <button class="btn btn-cocina">
          <a routerLink="/public/jefe-de-cocina" routerLinkActive="active">
            <img class="cocina-img" src="../../../../assets/image/chef.png" width= "150px" height="150px"/>
            Cocina
          </a>
        </button>
      </div>
  </div>
</div>

