#menu
  align-items: center
  display: flex
  flex-direction: column
  margin-top: 5%

.container1
  width: 600px
  display: flex

.btn
  width: 200px
  height: 200px
  border-radius: 25px
  text-decoration: none
  padding: 5px 10px
  font-family: 'tiza'
  font-weight: bold
  font-size: 15px
  background: #FEFFB8
  text-decoration-underline: none
  margin: 1%
  padding: 5px 10px

  a
    text-decoration: none
    color: #000000

  img
    border-radius: 25px

.btnMenu
  display: flex
  justify-content: space-between
  width: 100%
  margin-top: 10%

