<section id="menu">
  <header>
    <img class='imgapp' src='../../../../assets/LOGO2.png'>
  </header>

  <main>
    <div class="btnMenu">
      <button class="btn btn-mesero">
        <a routerLink="/public/mesero" routerLinkActive="active">
          <img class="mesero" src='../../../../assets/mesero.png'>
          Mesero
        </a>
      </button>

      <button class="btn btn-cocina">
        <a routerLink="/public/jefe-de-cocina" routerLinkActive="active">
          <img class="cocina-img" src='../../../../assets/chef.png'>
          Jefe de Cocina
        </a>
      </button>
    </div>
  </main>
</section>
