@import '../../../../vars'

#menu
  align-items: center
  display: flex
  flex-direction: column
  margin-top: $margin-top-porcentaje1

.container1
  width: 600px
  display: flex

.btn
  width: 200px
  height: 200px
  border-radius: $boder-radius1
  text-decoration: none
  padding: 5px 10px
  font-family: 'tiza'
  font-weight: bold
  font-size: $font-size1
  background: #FEFFB8
  text-decoration-underline: none
  margin: $margin-porcentaje1

  a
    text-decoration: none
    color: $fonts1
  img
    border-radius: $boder-radius1

.btnMenu
  display: flex
  justify-content: space-between
  width: 100%
  margin-top: $margin-top-porcentaje2

