p
  font-family: 'tiza'
  font-weight: bold
  font-size: 15px
  color: #FEFFB8

li
  width: 250px
  height: 250px
  border-radius: 25px
  padding: 5px
  font-family: 'lobster'
  font-weight: bold
  font-size: 15px
  background: #FEFFB8
  margin: 1%


.cardMenu
  display: flex
  flex-flow: row wrap
  box-sizing: border-box
  justify-content: center


