$colorbackground: #FEFFB8
$colorbackground2:#000000

@mixin tablet
  @media only screen and (max-width: 768px)
    @content

.notfound
  background: $colorbackground
  width: 25%
  border-radius: 25px
  padding: 3%
  color: $colorbackground2
  margin: auto
  font-family: 'Lobster', normal
  margin-top: 10rem
  @include tablet
    width: 50%

  p
    font-weight: bold
    font-size: 1.5rem

  div
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    margin-top: 3rem

    .btn-link-home
      text-decoration: none
      color: $colorbackground
      background-color: $colorbackground2
      border-radius: 25px
      line-height: 3rem
      padding: 1rem
      color: $colorbackground
      font-size: 1.5rem
