$bg: '../assets/image/wallpaper.jpg'

body
  background-image: url($bg)
  background-size: cover
  margin: 0
  padding: 0
  box-sizing: border-box

@media screen and (max-width: 1366px) and (min-width: 1024px)
  body
    background-size: 140%
