@import '../../../../vars'

.navbar
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  background-color: $bg
  box-shadow: 0px
  width: 100%
  height: 90px

  a
    color: $fonts2
    font-size: $font-size2
    text-decoration: none
    background-color: transparent
    -webkit-text-decoration-skip: objects

.navbar-brand
  padding-top: .3125rem
  padding-bottom: .3125rem
  padding-left: $rem1
  margin-right: $rem1
  white-space: nowrap

.d-block
  display: block!important
  align-items: center

.navbar-nav
  display: flex
  padding-left: 0
  margin-bottom: 0
  list-style: none

.nav-link
  display: block
  padding: .5rem $rem1

  &:focus
    border-bottom: ridge $border-red

.nav-cerrar
  margin-right: $rem2
