<header class="navbar">

  <div class="navbar-nav">
    <a class="navbar-brand" routerLink="/public/home" routerLinkActive="active">
      <img class='d-block' src='../../../assets/image/logoMenu.png' width= "70px" height= "70px">
    </a>
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" routerLink="/public/menu" routerLinkActive="active">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/public/pedidos" routerLinkActive="active">Pedidos</a>
      </li>
    </ul>
  </div>

  <a class="nav-cerrar" routerLink="/public/home" routerLinkActive="active">Cerrar</a>
</header>
