<section class="card">
  <div class="card-Orden" *ngFor="let orden of ordenes">
    <form [formGroup]="cardOrden">
      <div class="cardHeader">
        <label>Orden: # {{ orden.idOrden }}</label>
        <label> Mesa: {{ orden.mesa }}</label>
        <label> Cliente: {{ orden.cliente }}</label>
        <img src="./assets/image/timer.png" width="50px" height="50px" />
      </div>
      <table>
        <thead>
          <tr class="tableHeader">
            <th class="borderDerecho" nowrap>Cant.</th>
            <th class="borderDerecho" nowrap>Productos</th>
            <th nowrap>Progreso</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of orden.productos">
            <td class="borderDerecho">{{ producto.cant }}</td>
            <td class="borderDerecho">
              <p>{{ producto.name }}</p>
            </td>
            <td for="checkbox">
              <input
                type="checkbox"
                formControlName="checkbox"
                value="checkbox"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card-footer" nowrap>
        <button type="button" class="btnCard" (click)="actualizar(orden)">
          Listo
        </button>
      </div>
    </form>
  </div>
</section>
