@import  '../../../vars'

section
  display: flex
  flex-direction: row

.btn-menu
  display: flex
  justify-content: center
  flex-wrap: wrap
  @include tablet
    padding: $rem1 0
    justify-content: space-around

.conteinerFormMenu
  background: $bg-card
  color: $fonts1
  margin: 0px 10px 0px 10px
  padding: 2%
  width: 100%

.conteinerCardMenu
  display: flex
  flex-direction: row

cardMenu
  width: 50%

div
  width: 100%

.btnOpciones
  width: 250px
  padding: 5px 10px
  font-weight: bold
  color: $fonts1
  background: $bg-btn-menu
  margin: $rem2
  padding: $rem1
  @include tablet
    width: 150px
    margin: 0
    line-height: 1

  &:hover
    background: $bg-btn-pedido
    color: $fonts3

  &:focus
    background: $bg-btn-menu1
    color: $fonts4
    border: $border-btn1
