<div>
  <app-header></app-header>
</div>

<section>
  <div class="conteinerMenu">
    <div class="btn-menu">
      <button class="btnOpciones btn-desayunos" (click)="showMenu1()">
        Desayuno
      </button>
      <button class="btnOpciones btn-desayunos" (click)="showMenu2()">
        Almuerzos
      </button>
    </div>

    <div class="conteinerCardMenu">
      <div *ngIf="selectedMenu1">
        <app-menu [dataMenu]="menu1" (addRequest)="addDataProductos($event)"></app-menu>
      </div>

      <div *ngIf="selectedMenu2">
        <app-menu [dataMenu]="menu2" (addRequest)="addDataProductos($event)"></app-menu>
      </div>
    </div>
  </div>

  <div class="conteinerFormMenu">
    <app-form-pedidos [dataPedido]= "dataProductos" (addQuantityRequest)="addProduct($event)" (deleteRequest)="deleteProduct($event)"></app-form-pedidos>
  </div>
</section>

<app-modal
[showclass]="show"
[item]="itemSeleccionado"
[productoPedido]="objPedidoProducto"
(closeRequest)="closeModal()"
(addRequest) = "addAdicional($event)">
</app-modal>

