::host
  width: 100%

input
  color: #000000
  background-color:#FEFFB8
  border-bottom: 0.2rem solid #FF0404
  border-left: none
  border-top: none
  border-right: none
  font-family: 'lobster'
  font-weight: bold
  font-size: 1.5rem

form
  div
    line-height:2.5em
    margin: 1rem

form
  span
    color: #000000
    width:70px
    display:inline-block

table
  width: 100%
  border-top: 0.2rem solid #FF0404
  border-bottom: 0.2rem solid #FF0404
  border-collapse: collapse

  th
    border-left: 0.2rem solid #FF0404
    border-bottom: 0.2rem solid #FF0404

  td
    border-left: 0.2rem solid #FF0404

  tfoot
    border-top: 0.2rem solid #FF0404


.btntd
  width: 50px
  background-color: #FEFFB8
  border: none

.total



.btnPedido
  width: 100%
  border-radius: 25px
  border: #FF0404
  font-family: 'Lobster'
  font-weight: bold
  color: #FFFFFF
  font-size: 1.5rem
  background: #FF0404
  margin: 0.5rem
  padding: 1rem


