<form>
  <div class="formHead">
    <label for="nombreDeCliente">Cliente: </label>
    <input id="nombreDeCliente" placeholder="Nombre del cliente" />
  </div>
  <div class="formHead">
    <label for="numeroDeMesa">Mesa:#</label>
    <input id="numeroDeMesa" placeholder=" de Mesa" />
  </div>
</form>

<table>
  <thead>
    <tr>
      <th width="50%" nowrap>Producto</th>
      <th>Precio</th>
      <th nowrap>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let item of dataProductos; index as i"> -->
      <tr *ngFor="let item of dataPedido; index as i">
      <td>{{ item.name }}</td>
      <td>{{ item.precio | currency: 'USD'  }}</td>
      <td>
        {{ item.cant}}
        <button type="button" class="btntd" (click)="increaseProductQuantity(item)"><img src="./assets/image/add.png" width="50%"/></button>
        <button type="button" class="btntd" (click)="decreaseProductQuantity(item)"><img src="./assets/image/remove.png" width="50%"/></button>
        <button type="button" class="btntd" (click)="deleteProductQuantity(item)"><img src="./assets/image/delete.png" width="50%"/></button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <td colspan="3">
      <label for="total">Total: </label>
      <p>$</p>
    </td>
  </tfoot>
</table>

<div>
  <button type="button" class="btnPedido">Enviar pedido</button>
  <button type="button" class="btnPedido" (click)="cancelOrder()">Cancelar pedido</button>
</div>
